html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #fc6c44
  background: url("../images/concrete_seamless.png");
}

* {
  box-sizing: border-box;
}

/* general */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

p {
  color: #a1a7a8;
}

h1,
h2,
h3 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: #000bff;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 1px solid #d2d9db;
}

h2,
h3 {
  font-size: 22px;
}

/* header */

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #a1a7a8;
  background: #ffffdc;
  border-bottom: 1px solid #000bff;
}

#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-family: 'Merriweather', serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffdc;
  text-align: center;
  text-decoration: none;
  background: #000bff;
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #a1a7a8;
  text-decoration: none;
  border-left: 1px solid #000bff;
}

nav a:first-child {
  border-left: 0 none;
}

nav a:hover { 
    color: #000bff;
    font-style: bold;
}

nav a:focus {
    text-decoration: line-through;
}

/* footer */

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #a1a7a8;
  color: #a1a7a8;
  text-align: center;
  background: #ffffdc;
  border-top: 1px solid #000bff;
}

.footer,
.push {
  height: 50px;
}


/* sidebar */

.sidebar {
  float: right;
  width: 100%;
  max-width: 270px;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #d2d9db;
}

h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 1px solid #d2d9db;
}

.social {
  width: 42px;
  height: 42px;
  margin-top: 8px;
  margin-right: 5px;
}

.social:last-child {
  margin-right: 0;
}

/* main */

#main-container {
  padding-top: 130px;
}

.main-section {
  float: left;
  width: 100%;
  max-width: 650px;
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #000bff;
}

/* portfolio page */

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #000bff;
  text-align: center;
  background: #fffcdb;
  border-bottom: 0;
  font-size: 14pt;
  font-style: italic;
}

.auth-image {
  float: left;
  height: 240px;
  width: auto;
  margin-top: 10px;
  margin-right: 30px;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
  color: #a1a7a8;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #000bff;
  color: #a1a7a8;
}

textarea {
  height: 200px;
  color: #a1a7a8;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  background: #000bff;
  border: 0 none;
}


html {
    width:100%;
    height: 100%;
}


/* SIZING!!! */


    /* desktop */
     @media screen and (max-width: 980px) {


        #logo {
          margin-left: 90px;
        }

        nav {
          margin-right: 90px;
        }

        #main-container {
          padding-top: 130px;
          padding-left: 90px;
        }


        .main-section {
          max-width: 463px;
        }

        .auth-image {
          margin-bottom: 25px;
        }

        .sidebar {
          margin-right: 90px;
        }

        .work {
          position: relative;
          float: left;
          width: 400px;
          overflow: auto;
          margin-bottom: 0px;
        }

        .work img {
          width: 400px;
          height: 400px;
        }
      }


    /* tablet */
      @media screen and (max-width: 768px) {

        #logo {
          margin-left: 40px;
        }

        #masthead {
          height: 90px;
        }

        nav {
          margin-right: 40px;
        }

        #main-container {
          padding-top: 130px;
          padding-left: 40px;
        }

        .main-section {
          max-width: 685px;
        }

        .auth-image {
          margin-bottom: 8px;
        }

        .sidebar {
          margin-right: 40px;
          float: left;
          max-width: 685px;
          margin-bottom: 40px;
        }

        .work {
          position: relative;
          float: left;
          width: 290px;
          margin: 20px 0 25px;
          margin-bottom: 0px;
          overflow: auto;
        }

        .work:nth-child(even) {
          margin-right: 40px;
        }

        .work img {
          width: 290px;
          height: 290px;
          border: 0 none;
          opacity: 0.8;
        }

      }

    /* phone */
      @media screen and (max-width: 640px) {

        #logo {
          position: static;
          z-index: 99;
          width: 100%;
          margin: 0 0 30px;
          overflow: auto;
          text-align: center;
        }

        nav {
          position: fixed;
          text-align: center;
          z-index: 99;
          width: 100%;
          margin: 0 0 30px;
          overflow: auto;
          color: #a1a7a8;
          background: #ffffdc;
          border-bottom: 1px solid #000bff;
        }

        nav a {
          margin-left: 0px;
          padding-left: 80px;
          padding-right: 80px;
        }

        #main-container {
          padding-top: 130px;
          padding-left: 20px;
        }

        .main-section {
          max-width: 600px;
          margin-top: -17px;
        }

        .auth-image {
          margin-bottom: 28px;
          height: auto;
          width: 540px;
        }

        .sidebar {
          margin-right: 40px;
          float: left;
          max-width: 600px;
          margin-bottom: 40px;
        }

        .work {
          position: relative;
          float: left;
          width: 538px;
          overflow: auto;
          margin-bottom: 0px;
        }

        .work img {
          width: 538px;
          height: 538px;
        }

      }


      